.ol .li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_producto {
  margin-top: 120px;
  width: 100%;
  min-height: 75vh;
  @media (max-width: 760px) {
    margin-top: 100px;
    min-height: 75vh;
    margin-bottom: 45px;
  }
}

.producto {
  &_carousel-controls {
    position: absolute;
    left: 50%;
    bottom: -50px;
  }
  @media (min-width: 992px) {
    min-height: 600px;
  }
  &_carousel-controls {
    position: absolute;
    left: 50%;
    bottom: -100px;
    z-index: 10;
    transform: translateX(-50%);
    & .carousel-indicators {
      position: relative;
      margin: 0;
      &_li {
        height: 75px;
        width: 75px;
        margin: 0 5px;
        background-position: center;
        background-size: cover;
        border: 3px solid transparent;
        border-radius: 50%;
        &.active {
          border-color: rgba(155, 155, 155, 0.25);
        }
      }
      & .carousel-flecha {
        position: relative;
        margin: 0;
        &_li {
          height: 50px;
          width: 50px;
          margin: 0 5px;
          background-color: rgba(155, 155, 155, 0.25);
          border-radius: 50%;
        }
      }
    }
  }
}
