.main_producto {
  margin-top: 96px;
  width: 100%;
  min-height: 80vh;
  @media (max-width: 991px) {
    margin-bottom: 80px;
  }
}

.producto {
  @media (min-width: 992px) {
    min-height: 600px;
  }
}
